body {
    background-image: url("background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

ul {
  list-style-type: none;
  color: White;
  display: block;
  margin: auto;
  font-family: Raleway, sans-serif;
}




.profileimg {
  min-height: 500px
  min-width: 500px
  display: block;
  margin-left: 20px;
  margin-right: 20px;
}

.textright{
  text-align: right;
}

.flex{
  display: flex;
}

.imageright{
  margin-left: auto
}

.imageleft{
  margin-right: auto
}

.imagesize600px{
    max-width: 700px;
    max-height: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contactimage{
    max-width: 400px;
    max-height: 400px
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logoimg {
  width: 100px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.collum{
  border-radius: 25px;
  width: 300px;
  height: 500px;
  background: #ADB7C2;
  margin: auto;
}

.parallax {
  background-image: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fi.huffpost.com%2Fgen%2F1443854%2Fimages%2Fo-CODING-facebook.jpg&f=1&nofb=1");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.round1 {
  border-radius: 25px;
  background: #ADB7C2;
  opacity: 0.6;
  padding: 20px;
  min-width: 200px;
  max-width: 750px;
  min-height: 150px;
  margin: auto;
}

.padding {
  border-radius: 50px;
  padding: 20px;
  min-width: 200px;
  max-width: 750px;
  min-height: 150px;
  margin: auto;
}

.padding {
  padding-top: 50px;
  padding-left: 80px;
}

.container1200px{
  max-width: 1200px
}

.box {
  display: flex;
  max-width: 1500px;
  align-items: center;
  margin: auto;
}

.bigblacktext{
  display: block;
  font-size: 2em;
  color: black;
  text-align: center;
  font-family: Raleway, sans-serif;
}

.smallblacktext {
  display: block;
  color: black;
  text-align: center;
  font-family: Raleway, sans-serif;
}

.bigwhitetext {
  display: block;
  color: White;
  text-align: center;
  font-family: Raleway, sans-serif;
}

.smallwhitetext {
  display: block;
  color: White;
  text-align: center;
  font-family: Raleway, sans-serif;
}

.smallwhitetextright {
  display: block;
  color: White;
  text-align: right;
  font-family: Raleway, sans-serif;
}

.smallwhitetextleft {
  display: block;
  color: White;
  text-align: left;
  font-family: Raleway, sans-serif;
  padding-left: 10px;
}

.list {
  color: White;
  padding-left: 10px;
  list-style-type: none;
  font-family: Raleway, sans-serif;
}

.bannerimage {
  background: #ADB7C2;
  min-height: 750px;
  min-width: 100%;
  margin: auto;
}

.spacing300px {
  height: 300px;
}

.spacing200px {
  height: 200px;
}

.spacing100px {
  height: 100px;
}

.spacing10px {
  height: 10px;
}





.navbar {
    border: 0;
    z-index: 9999;
    letter-spacing: 4px;
}

.navbar-brand>img {
  height: 100%;
  padding: 15px; /* firefox bug fix */
  width: auto;
}
.navbar .nav > li > a {
  line-height: 50px;
}

.navbar-header h1 {
    letter-spacing: 1px;
    color: black !important;
    font-family: 'Lobster Two', cursive;
}

.navbar li a, .navbar {
    color: black !important;
    font-size: 12px;
    transition: all 0.6s 0s;
}

.navbar-toggle {
    background-color: transparent !important;
    border: 0;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: red !important;
}





@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
.ccheader {
	margin: 0 auto;
	padding: 2em;
	text-align: center;
}

.ccheader h1 {
	margin: 0;
	font-weight: 300;
	font-size: 2.5em;
	line-height: 1.3;
}
.ccheader {
	margin: 0 auto;
	padding: 2em;
	text-align: center;
}

.ccheader h1 {
	margin: 0;
	font-weight: 300;
	font-size: 2.5em;
	line-height: 1.3;
}

/* Form CSS*/
.ccform {
   margin: 0 auto;
    width: 1000px;
}
.ccfield-prepend{
	margin-bottom:10px;
	width:100%;
}

.ccform-addon{
	color:#f8ae45;
	float:left;
	padding:8px;
	width:8%;
	background:#FFFFFF;
	text-align:center;
}

.ccformfield {
	color:#000000;
	background:#FFFFFF;
	border:none;
	padding:15.5px;
	width:91.9%;
	display:block;
	font-family: 'Lato',Arial,sans-serif;
	font-size:14px;
}

.ccformfield {
	font-family: 'Lato',Arial,sans-serif;
}
.ccbtn{
	display:block;
	border:none;
	background:#f8ae45;
	color:#FFFFFF;
	padding:12px 25px;
	cursor:pointer;
	text-decoration:none;
	font-weight:bold;
}
.ccbtn:hover{
	background:#d8850e;
}
