@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&display=swap');



body {
    background: #3A0B53 url("vaporwave-backgournd.gif");
    background-repeat: repeat;
	font-family: "Cousine";
	background-size: cover;
	background-attachment: fixed;
	
	
}



body::-webkit-scrollbar {
	display: none;
}


ul {
  list-style-type: none;
  color: White;
  display: block;
  margin: auto;
  text-shadow: 2px 2px 0px #000000;
}




.profileimg {
  min-height: 500px;
  min-width: 500px;
  display: block;
  margin-left: 20px;
  margin-right: 20px;
}

.textright{
  text-align: right;
}

.flex{
  display: flex;
}

.imageright{
  margin-left: auto
}

.imageleft{
  margin-right: auto
}

.imagesize600px{
    max-width: 700px;
    max-height: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contactimage{
    max-width: 400px;
    max-height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logoimg {
  width: 100px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.collum{
  border-radius: 25px;
  width: 300px;
  height: 500px;
  background: #ADB7C2;
  margin: auto;
}

.parallax {
  background-image: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fi.huffpost.com%2Fgen%2F1443854%2Fimages%2Fo-CODING-facebook.jpg&f=1&nofb=1");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.round1 {
  border-radius: 25px;
  background: #ADB7C2;
  opacity: 0.6;
  padding: 20px;
  min-width: 200px;
  max-width: 750px;
  min-height: 150px;
  margin: auto;
}

.round12 {
  border-radius: 25px;
  background: rgba(34,4,66,0.80);
  padding: 20px;
  min-width: 200px;
  max-width: 1000px;
  min-height: 150px;
  margin: auto;
  flex-direction: column;
  display: flex;
  color: #a62795;
  text-shadow: 2px 2px 0px #000000;
}


.padding {
  border-radius: 50px;
  padding: 20px;
  min-width: 200px;
  max-width: 750px;
  min-height: 150px;
  margin: auto;
}

.padding {
  padding-top: 50px;
  padding-left: 80px;
}

.container1200px{
  max-width: 1200px;
}

.box {
  display: flex;
  max-width: 1500px;
  align-items: center;
  margin: auto;
}

.boxything {
background-color: grey;
}

.bigtext{
  display: block;
  font-size: 2em;
  
  text-align: center;
  
}

.smalltext {
  display: block;
  
  text-align: center;
  
}

.bigwhitetext {
  display: block;
  color: White;
  text-align: center;
  
}

.smallwhitetext {
  display: block;
  color: White;
  text-align: center;
  
}

.smallwhitetextright {
  display: block;
  color: White;
  text-align: right;
  
}

.smallwhitetextleft {
  display: block;
  color: White;
  text-align: left;
  
  padding-left: 10px;
}

.list {
  color: White;
  padding-left: 10px;
  list-style-type: none;
  
}

.bannerimage {
  background: #ADB7C2;
  min-height: 750px;
  min-width: 100%;
  margin: auto;
}

.spacing300px {
  height: 300px;
}

.spacing200px {
  height: 200px;
}

.spacing150px {
  height: 150px;
}


.spacing100px {
  height: 100px;
}

.spacing10px {
  height: 10px;
}





.navbar {
    border: 0;
    z-index: 9999;
    letter-spacing: 4px;
	text-shadow: 2px 2px 0px #000000;
}



.navbar-brand>img {
  height: 100%;
  padding: 15px; /* firefox bug fix */
  width: auto;
}
.navbar .nav > li > a {
  

}

.navbar:hover .nav:hover > li > a {
  
}

a {
	display: inline;
	
}

.navbar-header h1 {
    letter-spacing: 1px;
    
	
    color: #A62795 !important;
}



.navbar li a, .navbar {
    color: #A62795 !important;
    font-size: 42px;
    transition: all 0.6s 0s;
	font-weight: 700;
	
}

.navbar-toggle {
    background-color: transparent !important;
    border: 0;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #220442 !important;
	
}




.ccheader {
	margin: 0 auto;
	padding: 2em;
	text-align: center;
}

.ccheader h1 {
	margin: 0;
	font-weight: 300;
	font-size: 2.5em;
	line-height: 1.3;
}
.ccheader {
	margin: 0 auto;
	padding: 2em;
	text-align: center;
}

.ccheader h1 {
	margin: 0;
	font-weight: 300;
	font-size: 2.5em;
	line-height: 1.3;
}

/* Form CSS*/
.ccform {
   margin: 0 auto;
    width: 1000px;
}
.ccfield-prepend{
	margin-bottom:10px;
	width:100%;
}


.ccform-addon{
	color:#f8ae45;
	float:left;
	padding:8px;
	width:8%;
	background:#FFFFFF;
	text-align:center;
}

.ccformfield {
	color:#000000;
	background:#FFFFFF;
	border:none;
	padding:15.5px;
	width:91.9%;
	display:block;
	
	font-size:14px;
}

.ccformfield {
	
}
.ccbtn{
	display:block;
	border:none;
	background:#f8ae45;
	color:#FFFFFF;
	padding:12px 25px;
	cursor:pointer;
	text-decoration:none;
	font-weight:bold;
}
.ccbtn:hover{
	background:#d8850e;
}



#badges-info {
	margin-top: 4%;
	margin-bottom: 1%;
}

h5 {
	
}



.warning {
	vertical-align: middle;
}


.dropdown2 {
  position: relative;
  display: inline-block;
  width: 300px;
}

.dropdown2 h5 {
	width: 350px;
}

.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: rgba;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  
}

.dropdown2:hover .dropdown-content2 {
  display: block;
  background-color: rgba(34,4,66,0.65);
  
}

.video-container {
      position: relative;
      overflow: hidden;
	  
    }

    /* Style for the custom thumbnail */
    .custom-thumbnail {
      width: 100%;
      height: auto;
      cursor: pointer;
	  
    }

    /* Style for the YouTube iframe */
    .youtube-iframe {
      
      
       /* Initially hide the iframe */
    }



#wide {
	width: 350px;
}


.headerbackground {
	background-color: rgba(56,10,73,0.35);
	height: 115px;
	
}
.headerbackground:hover {
	background-color: #3A0B53;
	height: 125px;
}




#selected {
	background-color: rgba(34,4,66,0.50);
	border-radius: 25px;
}


